<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@((!string.IsNullOrEmpty(ViewBag.Title)) ? ViewBag.Title + " - " + ConfigurationManager.AppSettings["MainPageTitleStructure"] : System.Configuration.ConfigurationManager.AppSettings["MainPageTitleStructure"])</title>
    @if (!string.IsNullOrEmpty(ViewBag.MeteDescription)){<text><meta name="description" content="@ViewBag.MetaDescription"></text>}
    @if (!string.IsNullOrEmpty(ViewBag.MeteKeyword)){<text><meta name="keyword" content="@ViewBag.MetaKeyword"></text>}
    @if (!string.IsNullOrEmpty(ViewBag.Canonical)){<text><link rel="canonical" href="@ViewBag.Canonical"></text>}
    
    <meta name="author" content="@ConfigurationManager.AppSettings["WebSiteAuthor"]">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    @Styles.Render(string.Format("~/themes/{0}/globalcss", ConfigurationManager.AppSettings["AppDefaultTheme"]))
    @Scripts.Render("~/assets/js/modernizr")
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/scripts/respond/respond.min.js")"></script>
    <![endif]-->
    @RenderSection("head", false)
</head>

<body itemscope itemtype="http://schema.org/WebPage">
    <div id="mvcbloggy-wrapper">
        <header>
            <section id="header-left">
                @Html.Partial("LayoutHeaderLeft")
            </section>
            <section id="header-right">
                @Html.Partial("LayoutHeaderRight")
            </section>
            <div class="clearfix"></div>
            <nav>
                <ul>
                    <li class="mvcbloggy-current">@Html.ActionLink(Strings.Home, "index", new { controller = "default", area = string.Empty })</li>
                    <li>@Html.ActionLink(Strings.Archive, "index", new { controller = "archive", area = string.Empty })</li>
                    <li>@Html.ActionLink(Strings.AboutMe, "index", new { controller = "dynamicPage", page = "about", area = string.Empty })</li>
                    <li>@Html.ActionLink(Strings.ContactMe, "index", new { controller = "contact", area = string.Empty })</li>
                </ul>
            </nav>
            <div class="clearfix"></div>
        </header>
        <div id="mvcbloggy-innerwrapper">
            <div id="sidebar"></div>
            <div id="mainbar">
                @RenderBody()
            </div>
            <div class="clearfix"></div>
        </div>
        <footer>
            @Html.Partial("LayoutFooter")
        </footer>
    </div>
    @Scripts.Render("~/assets/js/globaljs")
    @RenderSection("scripts", false)
    @*<script>
      window._gaq = [['_setAccount', 'UAXXXXXXXX1'], ['_trackPageview'], ['_trackPageLoadTime']];
      Modernizr.load({
          load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
    </script>*@

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>